html {
    background: black;
    color: white;
    font-family: monospace;
}

body {
    max-width: 600px;
    margin: auto;
}

input {
    font-family: monospace;
}

a { color: white; }
a:hover { color: blue; }

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: fit-content;
    margin: auto;
    max-width: 600px;
}

li {
    padding: 0.05em;
    background: #111;
}
